<%!
import (
    "fmt"
    "strings"
    IUserService "github.com/og/juice/example/basic/user/interface"
    "github.com/og/juice/http"
)
%>
<%: func Home(helper jhttp.Helper, userInfo IUserService.UserInfo,list []string, buffer *bytes.Buffer) %>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <p><%= userInfo.Name %> <%==i userInfo.Age %></p>
   <ol>
       <% for _, s := range list {%>
       <li><%= s %></li>
       <%}%>
   </ol>
    <pre><%= helper.JSON(list) %></pre>
</body>
</html>